@import "foundation";
$borderColor: mediumseagreen;
$innerBorder: 5px solid $borderColor;
body {
    background-color: lightgray;
}

#board {
    border: 10px solid $borderColor;

    #home {
        border-right: $innerBorder;

        p {
            margin-left: auto;
            margin-right: auto;
        }

        #top-home {
            border-bottom: $innerBorder;
        }

        #bottom-home {
            border-top: $innerBorder;
        }
    }

    #spaces {
        border-left: $innerBorder;

        #bar {
            background-color: $borderColor;
        }
    }

}

.piece {
    width: 100%;
    height: 100%;
}

.dice {
    @include badge (
        $background: blue,
        $color: white,
        $diameter: 1.5rem,
        $fontsize: 1rem
    );
    border-radius: 0;
}

.space {
    svg {
        margin-top: auto;
        width: 100%;
        height: 100%;
    }

    @extend .small-2;
    @extend .grid-block;
}

$red: red;
$white: antiquewhite;

.red {
    background-color: $red;
    color: $white;
}

.white{
    background-color: $white;
    color: $red;
}
