@import "foundation";

#board {
    border: 10px solid mediumseagreen;
    
    #home {
        border-right: 5px solid mediumseagreen;
        
        #top-home {
            border-bottom: 5px solid mediumseagreen;
        }
        
        #bottom-home {
            border-top: 5px solid mediumseagreen;
        }
    }
    
    #spaces {
        border-left: 5px solid mediumseagreen;
    }
    #bar {
        background-color: mediumseagreen;
    }
}

.piece {
    border-radius: 100%;
    border: 2px solid;
}

.dice {
    border: 1px solid black;
}
